
body {
	margin: 0;
	padding: 0;
}


.wrap {
	background: black;
	position: relative;
	width: 1000px;
	height: 700px;
}
/*positoin : 포지션*/
/*+ 위치 설정**/
/*포지션은 즉, 박스들을 정렬하는것이 아니라 */
/*지정된 박스를 홤녀 좌표에 맞춰 보내는 것 */
/*그 과정에서 다른 박스를 겹쳐도 상관없음. 박스는*/
/*지정된 장소로 가는 명령을 듣는거임*/

.box1 {
	width: 200px;
	height: 200px;
	background: royalblue;
	/*margin-top:  100px;*/
	
	/*position: relative;*/
	/*top : 100px;*/
	/*left : 100px;*/
	
	/*margin-right: 100px;*/
	/*margin-left: 100px;*/
	
	/*position: absolute;*/
	/*bottom : 10px;*/
	/*right : 10px;*/
	
	/*position: relative;*/
	/*left: 0;*/
	/*top: 0;*/
	
	/*position: absolute;*/
	/*right: 0;*/
	/*bottom :0;*/
	
	position: absolute;
	top: 10px;
	left :20px;
	
	/*position: fixed;*/
	/*left: 0;*/
	/*top: 0;*/
}

/*position: relative;*/
/*렐러티브의 개성은 뭐냐? 속상의 원리는 뭐냐?*/
/*엡솔루터의 기준점을 잡아주는 용도로 사용*/
/*position: absolute;*/
/*엡솔루터의 기준은 첫 화면*/
/*fixed 는 브러우저. 그래서 스크롤을 내리면
스크롤을 따라 박스가 내려옴. 기준 무조건 모니터
 */

.box2 {
	width: 200px;
	height: 200px;
	background: red;
}

.box3 {
	width: 200px;
	height: 200px;
	background: aqua;
}