

* {
	margin: 0;
	padding: 0;
}

.wrap {
	width: 800px;
	height: 700px;
	background: darkseagreen;
	position: relative;
}

.wrap .or {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 10px;
	top: 10px;
	background: yellow;
	z-index: 1;
}

.wrap .gr {
	width: 200px;
	height: 200px;
	background: gray;
	position: absolute;
	left: 70px;
	top: 70px;
}

.wrap .bl {
	background: blue;
	width: 200px;
	height: 200px;
	position: absolute;
	right: -20px;
	top: -20px;
}

.wrap .gree {
	width: 400px;
	height: 300px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: green;
}

.wrap .gree .oran {
	background: orangered;
	width: 150px;
	height: 150px;
	position: absolute;
	right: 0;
	top: 0;
}