* {
	margin: 0;
	padding:0;
}

.whiht {
	height: 1000px;
	background: white;
}

.orange {
	width: 400px;
	height: 400px;
	background: orange;
	position: relative;
}

.box1 {
	background: blue;
	height: 100px;
	width: 100px;
	/*position: absolute;*/
	/*top:0;*/
	/*left: 0;*/
}
/*여기 주석된거 난 안썼는데 선생님은 써주시네*/
/*써야하나보다*/

.box2 {
	background: blue;
	height: 100px;
	width: 100px;
	position: fixed;
	bottom: 0;
	right: 0;
}

.box3 {
	background: blue;
	height: 100px;
	width: 100px;
	position: absolute;
	bottom : 30px;
	left: 0;
}

.box6 {
	height: 140px;
	width: 140px;
	background: blue;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -70px;
	margin-top: -70px;
}
/*마진 탑, 라이트 등 -(마이너스)값은 박스 크기의 1/2인거임*/
/*위에꺼를 예시로 들자면 140px를 반으로 나눠 70을 빼는거지*/

.gray {
	height: 1000px;
	background: gray;
}

.box4 {
	height: 200px;
	width: 200px;
	background: blue;
	position: absolute;
	left: 400px;
	/*margin-left: 400px;*/
}
/*마진 레프트로 잡아도 되지만, 포지션 배우는 중이니까
포지션으로 하기*/

.box5 {
	background: deeppink;
	height: 100px;
	width: 100px;
	position: absolute;
	right: 0;
}







