* {
	margin-top: 0;
	padding: 0;
}


body {
	position: relative;
}
.whi {
	background: white;
	height: 1000px;
	/*position: relative;*/
}


.green {
	background: green;
	width: 660px;
	height: 450px;
	position: absolute;
	/*top: 100%;*/
	/*left: 50%;*/
	/*margin-top: -500px;*/
	/*margin-left: -330px;*/
	top: 50%;
	left: 50%;
	margin-left: -330px;
	margin-top: -275px;
}

.box {
	background: black;
	height: 100px;
	width: 100px;
}

.box2 {
	width: 400px;
	height: 200px;
	background: black;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	position: fixed;
}

.box3 {
	width: 100px;
	height: 100px;
	position: absolute;
	background: black;
	/*left: 100%;*/
	/*bottom: 100%;*/
	right: -100px;
	top: -100px;
}

.gray {
	background: gray;
	height: 1000px;
}

