

body {
	margin: 0;
	padding: 0;
}

.floartbox {
	background: #cccccc;
	width: 800px;
	display: flex;
	flex-wrap: wrap;
}

/*<!--display flex는 -->*/
/*<!--flex-wrap:nowrap이 자동으로 깔려있어서-->*/
/*<!--박스들의 크기를 구겨서라도 한 줄에 정렬시켜놓는데-->*/
/*<!--이때 flex-wrap:wrap를 일부러 적용시키면-->*/
/*<!--크기에 맞춰서 아래로도 정렬 해준대 -->*/


.floartbox div {
	width: 200px;
	height: 200px;
}

.floartbox .float01 {
	background: #92c32a;
}

.floartbox .float02, .floartbox .float07 {
	background: #e63b67;
	
}

.floartbox .float03,
.floartbox .float06{
	background: #1c8fd1;
	
}

.floartbox .float04,
.floartbox .float05{
	background: #ff7612;
}

/*.floartbox .float05 {*/
/*	background: #ff7612;*/
/*}*/

/*.floartbox .float06 {*/
/*	background: #1c8fd1;*/
/*}*/

/*.floartbox .float07 {*/
/*	background: #e63b67;*/
/*}*/



		/*필기) 위에 처럼 정리해서 쓸수 있음*/
		/*필기) 밑에 주석된게 내가 먼저 했던거*/
		/*필기) 아니면 옆에 html에 floartbox 두번째꺼에 float 5,6,7 을 5, 6, 7로 하지 말고*/
		/*위에꺼 보고 컬러 맞는거끼리 번호 맞춰서 적어도 됨*/
		/*(5는 4로, 6은 3으로, 7은 2로)                                                      */
		
		
/*.floartbox {*/
/*	background: #cccccc;*/
/*	width: 800px;*/
/*	display: flex;*/
/*}*/

/*.float01 {*/
/*	width: 200px;*/
/*	height: 200px;*/
/*	background: #92c32a;*/
/*}*/

/*.float02 {*/
/*	background: #e63b67;*/
/*	width: 200px;*/
/*	height: 200px;*/

/*}*/

/*.float03 {*/
/*	width: 200px;*/
/*	height: 200px;*/
/*	background: #1c8fd1;*/

/*}*/

/*.float04 {*/
/*	width: 200px;*/
/*	height: 200px;*/
/*	background: #ff7612;*/
/*}*/

/*.float05 {*/
/*	width: 200px;*/
/*	height: 200px;*/
/*	background: #ff7612;*/
/*}*/

/*.float06 {*/
/*	width: 200px;*/
/*	height: 200px;*/
/*	background: #1c8fd1;*/
/*}*/

/*.float07 {*/
/*	width: 200px;*/
/*	height: 200px;*/
/*	background: #e63b67;*/
/*}*/




