

* {
	margin: 0;
	padding: 0;
}

/*wrap가 가장 큰 그룹이라서, 이 그룹에다 일관 적용 시켜줘서*/
/*가로 정렬 시킬거임*/

.wrap {
	border: 5px solid black;
	display: flex;
	/*justify-content: space-between;*/
	/*justify-content: space-around;*/
	/*justify-content: space-evenly;*/
	/*justify-content: center;*/
	/*justify-content: flex-end;*/
	/*justify-content: flex-start;*/
	
	/*align-items: center;*/
	/*align-items: flex-end;*/
	/*align-items: start;*/
}

     /*필기)!*justify는 양쪽에 영향준다고*!*/
     /*필기)justify는 박스와 박스 사이 여백? 공간? 을 만들어주는 거임*/
     /*     -> x축 정렬*/
	/*(주석 달면 멋대로 느낌표 생겨서, 되게 신난사람 처럼 보임 ㅋ)*/
     /*필기)!*justify:space-around는 동일한 크기로 나눈다고?*!*/
     /*필기)align-item 가 y축 정렬*/
    /*필기) !*align-items: start;*! <- 얘는 내가 입력하지않아도*/
	/*기본으로 깔려있는 설정이래*/

.wrap div {
	width: 200px;
	/*height: 200px;*/
}

.box1 {
	background: aqua;
	height: 300px;
}

.box2 {
	height: 200px;
	background: purple;
}

.box3 {
	height: 100px;
	background: darkblue;
}

	/*필기)높이를 wrap에 넣지 않고 (위에 보면 적었던걸 주석 처리했음)
	 각 박스에 다르게 넣은 이유 > y축 정렬하는거 배우려고*/
	/*그 y축 정렬이 위에 있는 <align-items> 임 */
