body {
	margin: 0;
	padding: 0;
}
/*이건 기본이래 왜지?*/

.box {
	height: 300px;
	width: 300px;
	background:: orange;
}

.child {
	height: 200px;
	width: 200px;
	background: blue;
	border: 3px solid black;
}
/*필기)border 이건 테두리래*/
/*필기)20px가 다섯개 있으니 이건 1000임.*/
/*  옆에 보면 차일드가 다섯개 있잖아, 이걸 잘 봐야함*/

.box2 {
	background: hotpink;
	height: 500px;
	width: 500px;
}

/*필기)내부 컨텐츠가 외부 컨텐츠의 사이즈를 결정한다*/