
/*body {*/
/*	margin: 0;*/
/*	padding: 0;*/
/*}*/

/*header {*/
/*	font-size: 30px;*/
/*}*/

/*div {*/
/*	color: red;*/
/*}*/

/*header div {*/
/*	color: blue;*/
/*}*/

/*header section div {*/
/*	color: green;*/
/*}*/

/*header .box div {*/
/*	color: green;*/
/*}*/

/*!*>section 를 .box로 써도 됨*!*/
/*!*> .box가 가장 큰 개념이기 때문에, 화면에 그린으로 나오게 됨 *!*/

/*header section article div {*/
/*	color: orange;*/
/*}*/

/*명령어를 길게 쓸수록 '우선순위'가 되어 화면에 표출*/
/*(예를 들어 그냥 div, 그린 만 쓴 애보다, header div 레드 라고 쓴애가 더 우선순위임거임. 화면엔 빨간색으로 표현됨)*/
/*다 똑같이 명령어가 길면, 가장 밑에 있는 애 정보로 표출*/


div {
	width: 200px;
	height: 200px;
	background: red;
}

header div {
	background: orange;
}

header section div {
	background: blue;
}

.box {
	background: green;
}

.header .box {
	background: purple;
}

header .box {
	background: tomato;
}





















