/*.topmenu a{*/
/*	background: orange;*/
/*}*/
/*!*필기)!*a(링크)를 안 붙이면 배경 전체에 색이 입혀짐*!*!*/
/*!*필기)!*a를 해야 폰트에만 배경색이 적용됨*!*!*/

/*.mainmenu a{*/
/*	background: red;*/
/*}*/

/*.mainmenu .sub a {*/
/*	background: white;*/
/*}*/

/*.mainmenu .sub .bg a {*/
/*	background: lime;*/
/*}*/
/*!*필기)!*클래스를 안 만들고도 서브02만 배경색 입힐 방법이*!*!*/
/*!*필기)!*!*있는 거겠지..? 근데 전혀 모르겟네.............*!*!*!*/
/*!*필기)!*어? 클래스 만드는거 맞대요 이여어얼 씽난다 맞았다*!*!*/


.topmenu li a{
	background: aqua;
}

.topmenu li{
	background: midnightblue;
	margin: 3px;
}

.mainmenu a {
	background: steelblue;
}

.mainmenu .sub a {
	background: red;
}

.mainmenu .sub .qwe {
	background: gold;
}

.mainmenu .sub .bg {
	background: purple;
}

.mainmenu .sub .asd {
	background: mediumorchid;
}




/*필기).topmenu 안에는 */
/*필기).topmenu랑 .topmenu li 랑 .topmenu li a 까지 */
/*필기)세개 있는거임*/

/*필기).mainmenu > li > a*/
/*필기)이렇게 쓸수도 있다는데 이건 무슨 말인지 잘 모르겠으ㅜㅁ 뭐지ㅠ*/
/*필기)이게 지금 <.mainmenu a {*/
/*필기)	       background: steelblue;> 여기 컬러 지정하는데*/
/*필기)       사용하는 명령어가 저걸로도 대체가 된다시는데*/
/* 필기)     내가 똥멍청이라 저게 뭔 의미인지 모르겠음요*/
/*+필기) 아아 순서인가봐. mainmenu 안에 li 안에 a 라는 뜻인가봐*/

/*li 는 블락 (점 뒤로 공간이 전부 색이 찬다)*/
/*ul은 메뉴 앞에 점까지 색이 찼을거임*/
/*a는 텍스트있는 공간만*/

