


/*.box {*/
/*	width: 200px;*/
/*	height: 200px;*/
/*	background: red;*/
/*}*/

/*.box2 {*/
/*	width: 200px;*/
/*	height: 200px;*/
/*	background: orange;*/
/*}*/

/*.box3 {*/
/*	width: 200px;*/
/*	height: 200px;*/
/*	background: green;*/
/*}*/

/*!*필기) 이렇게 높이 너비가 다 똑같은 경우에는*!*/

body {
	margin: 0;
}

* {
	font-size: 20px;
	font-weight: bold;
}

div {
	width: 200px;
	height: 200px;
}

/*필기) 이렇게 해주면 됨*/

.box {
	background: red;
	/*margin-left: 100px;*/
	/*margin-top: 100px;*/
	/*margin-bottom: 100px;*/
	/*margin-right: 100px;*/
	
	/*margin: 100px;*/
	/*margin: 50px 20px 30px 10px;*/
	margin: 50px 0 30px;
}

/*필기)!*오른쪽 왼쪽 위 아래 구분 안하고 '마진'만 하면 양 방향 다 적용됨 *!*/
/*필기)!*margin: 50px 20px 30px 10px; 의 경우 순서대로  탑 / 라이트/ 바텀  래프트*!*/
/*임*/


.box2 {
	background: orange;
	padding-left: 100px;
	/*padding-top: 100px;*/
	/*padding-bottom: 100px;*/
	/*padding-right: 100px;*/
}


.box3 {
	background: green;
	margin-top: 50px;
	margin-left: 50px;
	
	border: 5px dotted black;
	/*border: 5px dashed black;*/
	/*border: 5px solid black;*/
	
	border-bottom: 5px dotted white;
}

/*필기)borer 크기/실 종류/색깔이 많이 쓰는 순서지만 순서 달라도 됨*/
/*                 보통 솔리드를 가장 많이 사용함*/
/*필기) 보더도 크기 추가 개념임. 그러니까 박스3의 크기는 200px이 아니라*/
/*                                    250px으로 생각해야 함*/








/** {*/
/*	color: red;*/
/*}*/
/*필기) 이렇게 앞에 * 하고 정보주면 모든 곳에 같은 설정이 적용 */
/*    기본값이란 뜻. 이름은 전체 선택자*/



