

.wrap {
	width: 700px;
	/*height: 500px;*/
	background: black;
	
	/*display: flex;*/
	/*flex-wrap: wrap;*/
	position: relative;
	
	padding: 50px;
}

.wrap div {
	width: 200px;
	height: 200px;
	position: absolute;
	/*margin-right: 50px;*/
}

/*w100*/
/*하고 탭하면..  width: 100px 됨;*/

.wrap .box1 {background: red;}
.wrap .box2 {background: orange;}
.wrap .box3 {
	background: blue;
	margin-right: 0;
}

.wrap botton {
	position: absolute;
	right: -200px;
	top: 50%;
	margin-top: -50px;
	
	width: 200px;
	height: 100px;
	background: green;
}