h1 {background: #ff4545}

.class_box {background: #349eda}

#id_box { background: #54c741}

.color_box {background: #c53cc3}
.color_box a {background: #e7d93f}

#color\ box {background: #1fb2cd;
}
#color\ box li {
    margin: 10px;
    colot : #fff;
}
#color\ box .bg {
    background: orange
}