

#root {}

header {
	position: absolute;
	top: 30px;
	left: 50%;
	/*left: calc(50% - 500px);*/
	margin-left: -500px;
	width: 1000px;
	height: 80px;
	background: #3c3c3c;
}
.visual {
	height: 350px;
	background: dodgerblue;
}
.contents {
	width: 1000px;
	background: deeppink;
	margin: 20px auto;
	display: flex;
	gap: 4px;
}
.contents > div {
	width: 180px;
	height: 400px;
}
/*      > 이렇게 표시하면*/
/*'첫번째 자식들'에겐 태그가 모두 정립된다는 뜻이고*/
/*여기서 첫번째 자식이라 하면*/
/*청록색 div*4개임*/

/*근데 이 예제에서는 > 안 써도 정립됨*/
/*왜냐, 밑에 div div로 결국 같은 값을 적용했기 때문에. */
/*.contents div {*/
/*	width: 180px;*/
/*	height: 400px;} 그냥 이렇게 써도 성립된대유*/


.contents > div div {
	height: 198px;
	background: orange;
}
.contents > div .bottom {
	margin-top: 4px;
}
.contents .big {
	width: 314px;
	background: orange;
}


footer {
	width: 1000px;
	height: 50px;
	background: #3c3c3c;
	margin: 0 auto;
}






