/*<!--class는 .를 붙이고-->*/
/*<!--id는 #을 붙이고-->*/
/*<!--아무것도 없으면 그냥 그대로 쓰 고-->*/


#header {
    background: dodgerblue;
    height: 100px;
    width: 100px;
}


.contents {
    height: 100px;
    background: orange;
}

article {
    background: tomato;
    height: 150px;
    width: 150px;
}

.visual {
    background: gold;
    height: 200px;
    width: 200px;
}

.wrap {
    background: crimson;
    height: 200px;
}

strong {background: hotpink}

aside {
    background: green;
    height: 100px;
    width: 100px;
}


span {
    background: yellow;
}

#main {
    height: 200px;
    background: aqua;
}

#main-visual {
    height: 150px;
    width: 150px;
    background: lime;
}

.wrap {
    height: 200px;
    background: orange;
}

.link {
    background: orange;
}

.footer {
    background: gray;
    height: 100px;
}












